<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Safety Pin</title>
</head>
<body>
    <h1>Edit Safety Pin</h1>
    <form action="/safetypins/<%= safetypin._id %>?_method=PUT" method="POST">
        <div>
            <label for="location">Location</label>
            <input type="text" name="safetypin[location]" id="location" value="<%= safetypin.location %>">
        </div>
        <div>
            <label for="address">Address</label>
            <input type="text" name="safetypin[address]" id="address" value="<%= safetypin.address %>">
        </div>
        <button>Update Safety Pin</button>
    </form>
    <a href="/safetypins/<%= safetypin._id %> ">Back</a>
</body>
</html>