<% layout('/layouts/boilerplate') %>
    <h1>All Safety Pins</h1>
    <div>
        <a href="/safetypins/new">Add new Safety Pin</a>
    </div>
    <ul>
        <% for(let safetypin of safetypins) { %> 
            <li><a href="/safetypins/<%= safetypin._id %>"><%= safetypin.location %></a> </li>
        <% } %> 
    </ul>
