<% layout('/layouts/boilerplate') %>
    <h1><%= safetypin.location %> </h1>
    <h2><%= safetypin.address %> </h2>
    <form action="/safetypins/<%=safetypin._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <footer>
        <a href="/safetypins/<%=safetypin._id%>/edit">Edit</a>
        <a href="/safetypins">All Safety Pins</a>
    </footer>
